.hero {
  position: relative;
  height: 100vh;
  margin-top: - gutter(14.4);

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  &__box {
    max-width: gutter(50);
  }

  &__title {
    font-weight: $font-medium;
  }

  &__desc {
    white-space: pre-line;

    @include media("<md") {
      white-space: normal;
    }
  }

  &__button {
    margin-top: gutter(2);
  }
}
