@keyframes animate-bg {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@keyframes show-img {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.97);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes open-nav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes open-modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  to { transform: scale(1); }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes changeImg {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 0.85;
  }
}
