.headline {
  margin: 0 0 0.6em 0;
  line-height: 1.1;
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 40px;
  color: $white;

  @include media("<md") {
    font-size: 35px;
  }

  &--center {
    text-align: center;
    font-size: 50px;
  }
}

.title {
  font-size: 40px;
  letter-spacing: 2px;
  color: $white;
  font-weight: $font-medium;
  font-family: $font-title;
  text-transform: uppercase;

  @include media("<md") {
    font-size: 28px;
  }

  &--small {
    font-family: $font-main;
    font-size: 20px;
    text-transform: none;
    margin: 0;

    @include media("<md") {
      font-size: 16px;
    }
  }

  &--center {
    text-align: center;
    font-size: 50px;
  }

  &--offset {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: gutter(7.5);
      margin-right: gutter(4);
      height: gutter(0.2);
      background-color: $white;

      @include media("<1600px") {
        display: none;
      }
    }
  }
}

.text {
  color: $white;
  font-weight: $font-regular;
  font-family: $font-main;
  font-size: 16px;
  line-height: 29px;

  @include media("<md") {
    font-size: 14px;
    line-height: 26px;
  }

  &--strong {
    font-weight: $font-medium;
  }

  &--small {
    font-size: 12px;
  }
}

.button {
  margin-top: gutter(2);
}
